<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="../static/tabela-aluno.css">


</head>

<body>
    <nav id="menu">
        <ul>

            <li><a href= file:///C:/Users/Aluno/Documents/html/Escola/app/templates/index.html >index</a></li>
            <li><a href= file:///C:/Users/Aluno/Documents/html/Escola/app/templates/alunos.html>Alunos</a></li>
            <li><a href="#professores">Professores</a></li>
            <li><a href="#sala">Salas</a></li>
            <li><a href="disciplinas">Disciplinas</a></li>

        </ul>
    </nav>
        <br>
    <table>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Maria</td>
            <td>553466</td>
            <td>maria@gmail.com</td>
        </tr>
    </table>
    
    
</body>
</html>