<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Escola</title>
    <link rel="stylesheet" href="../static/menu.css">
</head>

<body>

    <h2>Escola</h2>
    <nav id="menu">
        <ul>

            <li><a href= file:///C:/Users/Aluno/Documents/clonee/Escola/app/templates/index.html>index</a></li>
            <li><a href= file:///C:/Users/Aluno/Documents/clonee/Escola/app/templates/alunos.html>Alunos</a></li>
            <li><a href="#professores">Professores</a></li>
            <li><a href="#sala">Salas</a></li>
            <li><a href="disciplinas">Disciplinas</a></li>
    
        </ul>
    </nav>
        
        
    <h2>Sem ideias</h2>
    <p>Informações sobre a escola bem aqui</p>
    <br><br><br>
    <img title="escola" src="imagem.jpg" alt="escola" width="400" height="350">

</body>
</html>