<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moastrar-aluno</title>
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="../static/tabela-aluno.css">
</head>

<body>

    <nav id="menu">
        <ul>

            <li><a href= file:///C:/Users/Aluno/Documents/clonee/Escola/app/templates/index.html >index</a></li>
            <li><a href= file:///C:/Users/Aluno/Documents/clonee/Escola/app/templates/alunos.html>Alunos</a></li>
            <li><a href="#professores">Professores</a></li>
            <li><a href="#sala">Salas</a></li>
            <li><a href="disciplinas">Disciplinas</a></li>

        </ul>
    </nav>

    <table>
        <tr>
            <th>Nome</th><td>Maria</td>
        </tr>
        <tr>
            <th>Matrícula</th><td>553166</td>
        </tr>
        <tr>
            <th>Email</th><td>maria@gmail.com</td>
        </tr>

    </table>
    <input type="button" value="editar"> <input type="button" value="excluir"> 

    <table>
        <tr>
            <th>disciplinas</th>
        </tr>
        <tr>
            <td>calculo 1</td>
        </tr>
        <tr>
            <td>turotia</td>
        </tr>
    </table>

</body>

</html>